<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="./static/style.css" />
  </head>
  <body>
    <div class="about-page">
      <div class="div">
        <div class="main-hero-session">
          <div class="overlap-group">
            <div class="overlap">
              <div class="group">
                <nav>
                    <ul id="MenuItems">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="aboutus.html">About Us</a></li>
                        <li><a href="service.html">Service</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                   </nav>
              </div>
              <img class="line" src="./static/line-1.svg" />
            </div>
            <div class="text-wrapper-5">CEO’s</div>
            <div class="div-wrapper"><div class="text-wrapper-6">The Siblings/FOUNDER’S</div></div>
            <img class="main-logo-white" src="./static/main_logo.jpg" />
            <img class="rectangle" src="./static/craigpfp.jpg" />
            <img class="img" src="./static/tanayapfp.jpg" />
            <img class="rectangle-2" src="./static/amirepfp.jpg" />
            <p class="the-shari-foundation">
              The Shari foundation was created by Amire, Ta&#39;naya, and Craig Miller. In honor of their loving
              mother&#39;s memory. Their mother Shari Mayes-Miller was diagnosed with cervical cancer and passed away at
              the age of 28, in February of 2014. The purpose of the newly developing foundation is to spread awareness,
              share their mother&#39;s story, and to help other families who may have a similar experience. Help us
              spread awareness by just sharing this website, follow on all social media page’s, and contribute to help
              out with this beautiful journey.
            </p>
            <div class="text-wrapper-7">Craig Miller II</div>
            <div class="text-wrapper-8">Amire Miller</div>
            <div class="text-wrapper-9">Ta’naya Miller</div>
          </div>
        </div>
        <div class="book-an-appointment">
          <div class="overlap-2">
            <div class="component-button-2"><div class="text-wrapper-10">Donate</div></div>
            <p class="are-you-ready-to">Are you ready to transform someones life and <br />donate</p>
          </div>
        </div>
        <div class="email-list">
          <div class="overlap-3">
            <div class="text-wrapper-11">Subscribe to our newsletter</div>
            <p class="we-recommend-you-to">
              We recommend you to subscribe to our newsletter&nbsp;&nbsp;drop <br />your email below to get daliy
              updates
            </p>
            <div class="group-3">
              <div class="frame"><div class="field-text">Enter your email address</div></div>
              <button class="button"><div class="text-wrapper-12">Subscribe</div></button>
            </div>
          </div>
        </div>
        <div class="fotter">
          <div class="overlap-4">
            <p class="p">© Jo-Jean Imoh-Ita. All right reserved. Designed by AMANi Art</p>
            <div class="overlap-group-2">
              <div class="group-4">
                <div class="frame-2">
                  <div class="text-wrapper-13">Services</div>
                  <div class="text-wrapper-14">Contact</div>
                  <div class="text-wrapper-14">Privacy Policy</div>
                </div>
                <div class="frame-3">
                  <div class="text-wrapper-13">Home</div>
                  <div class="text-wrapper-14">About</div>
                  <div class="text-wrapper-14">Sign Up</div>
                </div>
                <div class="group-wrapper">
                  <div class="group-5">
                    <p class="text-wrapper-15">88/89 Peter Odili Road, Port Harcourt, Rivers State.</p>
                  </div>
                </div>
                <div class="group-6">
                  <div class="text-wrapper-16">Connect With Us</div>
                </div>
              </div>
              <img class="main-logo-white-2" src="./static/main_logo.jpg" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
